{% load static %}
<head>
    <title>Story 8 : AJAX</title>
    <link rel="stylesheet" href="{% static 'story8/css/story8.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function (){    
            $("#cari").keyup( function() {
                var isian_cari = $("#cari").val();
                var url_panggilan = '/story8/data?q=' + isian_cari;
                $.ajax({
                    url : url_panggilan,
                    success : function(hasil){
                        console.log(hasil.items);
                        var obj_hasil = $("#hasil");
                        obj_hasil.empty();
                        var th = '<tr> <th>Gambar</th> <th>Judul</th> <th>Pengarang</th> <th>Genre</th> <th>Sinopsis</th> </tr>'
                        obj_hasil.append(th);

                        for(i = 0; i < hasil.items.length; i++){
                            var title = hasil.items[i].volumeInfo.title;
                            var thumbnails = hasil.items[i].volumeInfo.imageLinks.smallThumbnail;
                            var author = hasil.items[i].volumeInfo.authors;
                            var genre = hasil.items[i].volumeInfo.categories;
                            var synopsis = hasil.items[i].volumeInfo.description;
                            console.log(title);
                            obj_hasil.append('<tr> <td>' + '<img src=' + thumbnails + '> <td>' +  title + '</td> <td>' + author + '</td> <td>' + genre + '</td> <td>' + synopsis + '</td> </tr>' );
                        }
                    }
                });
            });
        });
    </script>
</head>

<body>
    <h2>Yuk cari buku favoritmu disini!</h2>
    <div id="searchbox">
        <input id="cari" type="search" placeholder="Cari disini!">
    </div>
    <br>
    <table id="hasil">
        <tr>
            <th id="pic">Gambar</th>
            <th id="title">Judul</th>
            <th id="author">Pengarang</th>
            <th id="genre">Genre</th>
            <th id="synopsis">Sinopsis</th>
        </tr>
       <tr>
        <td id="pic">Belum ada :(</td>
        <td id="title">Masa Depanmu</td>
        <td id="author">Tatang Sutarman</td>
        <td id="genre">Komedi</td>
        <td id="synopsis">Menurut buku Tatang Sutarman....</td>
       </tr>
    </table>
</body>