body{
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#cari{
    width: 100%;
    height: 7%;
}

#searchbox{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

tr, th, td{
    border: solid 1px;
    padding: 3px;
}

#pic{
    width: 100px;
}

#title{
    width: 150px;
}

#author{
    width: 48px;
}

#genre{
    width: 48px;
}

#synopsis{
    width: 150px;
}

th{
    background-color: cadetblue;
}

td{
    background-color: azure;
}