<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Story 7 : Accordion</title>
    <link rel="stylesheet" href="{% static 'story7/css/story7.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function() {
        //    $('.content').hide();
            $( "#accordion" ).accordion({
                collapsible:true
            });
            // $(".accordionwrapper").on('click', '.title'), (function() {
            //     var $this = $(this).parent().next();
            //     if ($this.hasClass('show')) {
            //         $this.removeClass('show');
            //         $this.slideUp();
            //      }
            //      else {
            //         $this.addClass('show');
            //         $this.slideDown();
            //      }
            // });
        });
    </script>
</head>
<body>
    <h1>ACCORDION</h1>
    <div id="accordion">
        <h3>Aktivitas saat ini</h3>
        <div class="content" id="activity">     
            <p>
            Di semester 3 ini, saya memiliki beberapa kesibukan, antara lain kesibukan akademis dengan berbagai tugas yang sangat
            memotivasi dan membangun, kesibukan beberapa kepanitiaan yang saya ikuti, dan juga saya sedang mendaftar untuk suatu 
            program di luar ui.
            </p>
        </div>
        <h3>Passion</h3>
        <div class="content" id="passion">
            <p>
            Alasan saya memilih Sistem Informasi Fasilkom sebagai pendidikan lanjut saya adalah karena saya mengikuti Passion
            saya yaitu ingin menjadi seorang enterpreneur.
            </p>
        </div>
        <h3>Pengalaman Organisasi/Kepanitiaan</h3>
        <div class="content" id="experience">
            <p>
            Berikut adalah beberapa pengalaman organisasi dan kepanitiaan yang pernah saya ikuti.
            </p>
            <ul>
            <li>OSIS (2017/2018)</li>
            <li>Staff Acara Wisgan 2020</li>
            <li>Staff Games PERAK 2020</li>
            <li>PJ Acara SIWAK-NG 2020</li>
            <li>WPJ Acara Open House Fasilkom 2020</li>
            <li>WPJ Mentor PMB 2020</li>
            </ul>
        </div>
        <h3>Prestasi</h3>
        <div class="content" id="achievement">
            <p>
            Berikut adalah beberapa prestasi yang pernah saya raih.
            </p>
            <ul>
            <li>Pelatda I OSP Komputer 2017 dan 2018</li>
            <li>Juara I Lomba Cepat Tepat IT Voltage 2 SMAN 3 Bekasi</li>
            <li>Juara I Lomba Cepat Tepat IT Cyber Competition 9 SMAN 1 Bekasi</li>
            </ul>
        </div>
        </div>
</body>
</html>