{% load static %}
<html>
    <head>
        <!-- username django : rafiismail -->
        <!-- password : mail -->
        <title>Story 9 : Authentication</title>
        <link rel="stylesheet" href="{% static 'story9.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Story 9</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="story7/">Story 7</a></li>
                <li><a href="story8/">Story 8</a></li>
              </ul>
              
              {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Halo, {{ user.get_username }}!</a></li>
                    <li><a href="/admin/logout/?next=/story9"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
              {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/story9/signup/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/admin/login/?next=/story9"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
              {% endif %}
            </div>
          </nav>
        <div class="content">
            <h3>hai</h3>
            {% if user.is_authenticated %}
                <img src="{% static 'hellothere.gif' %}">
            {% else %}
                <img src="{% static 'whoareyou.gif' %}">
            {% endif %}
        </div>  
    </body>
</html>