p, h1, h3, li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    padding: 5px;
    border: solid 1px;
    border-radius: 5px;
    background-color: cornflowerblue;
}

#activity{
    background-color: darkkhaki;
}

#passion{
    background-color: forestgreen;
}

#experience{
    background-color: mediumorchid;
}

#achievement{
    background-color: crimson;
}
.content{
    border: solid 1px;
    border-radius: 5px;
}

body{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}